@mixin title {
    font-family: 'Shrikhand', cursive;
    margin: 0;
}


@mixin btn {
    border: 0;
    border-radius: 30px;
    background: linear-gradient(173deg, $secondary 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
    font-size: 15px;
    padding: 15px 2px 15px 2px;
    width: 200px;
    height: auto;
    margin: 20px 0px 40px 0px;
    box-shadow: $shadow;
    cursor: pointer;
    text-align: center;
}

@mixin animation {
    display: flex;
    flex-direction: row;
    border-radius: 1.05rem;
    box-shadow: $shadow;
    background-color: white;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    top: 45px;
    animation: appear 1s cubic-bezier(0, 0, 0, 1) forwards;
    opacity: 0;
    cursor: pointer;
    padding-left: 10px;
    justify-content: space-between;
    
    &:hover>.icon__anim {
        content: "\f058";
        animation: translate 300ms;
        animation-timing-function: linear;
        -webkit-animation: translate 300ms;
        -webkit-animation-timing-function: linear;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary;
        width: 81px;
        border-radius: 0 1.05rem 1.05rem 0;

        &>.icon__anim__circle {
            content: "\f058";
            animation: rotate 400ms linear;
            -webkit-animation: rotate 500ms linear;
        }
    }

}