$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$shadow: 0px 6px 5px lightgrey;
@import "mixins.scss";

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    a:link {
        text-decoration: none;
    }
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .title {
        @include title;
        color: black;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.location {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    padding: 15px;
    ;
    background: #e8e8eb;
    box-shadow: inset 0 5px 6px -4px lightgrey;
    width: 100%;
    justify-content: center;

    .span__loca {
        padding: 0px 15px 0px 0px;
    }

    &__txt {
        font-size: 1.1rem;
        margin: 0;
    }
}

.explorer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(247, 247, 247);

    &__title {
        font-size: 1.6rem;
        margin-top: 40px;
    }

    &__txt {
        margin-top: 0px;
    }

    &__btn {
        @include btn;

        &:hover {
            transform: scale(1.02);
        }
    }

    a:link {
        color: white;
    }

}

.operation__bloc {
    margin: 30px 0px 60px 0px;
}

.operation__step {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: $shadow;
    background-color: rgb(247, 247, 247);
    padding: 25px 60px 25px 0px;
    cursor: pointer;

    &__number {
        border-radius: 100%;
        background-color: $primary;
        color: white;
        padding: 2px 7px 2px 7px;
    }

    &__icon {
        margin: 2px 20px 0px 20px;
        color: gray;
    }

    &__txt {
        padding-top: 2px;
    }

    &:hover {
        transform: scale(1.02);
        background: lighten($primary, 35);
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);

    &__card {
        border-radius: 1.5rem;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 25px;
        cursor: pointer;
        position: relative;

        &:hover {
            transform: scale(1.02);
        }
    }

    &__bloc {
        margin-top: 40px;
    }

    &__title {
        position: relative;
        left: -106px;
        top: 38px;
    }
}

.card__img {
    width: 350px;
    height: 160px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.new {
    background: #99E2D0;
    color: green;
    width: 65px;
    text-align: center;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    right: 16px;
}

.card__bloc {
    display: flex;
    flex-direction: row;
    color: black;
    padding-left: 20px;

    &__icon {
        position: absolute;
        right: 30px;
        top: 185px;
        font-size: 1.8rem;


    }
}

.card {
    &__title {
        margin: 0px;
        padding-top: 12px;
    }

    &__txt {
        margin: 0px;
        padding: 5px 0px 20px 0px;
    }
}

.footer {
    background-color: #363636;
    padding: 20px 20px 20px 30px;
    width: 100%;

    a:link {
        color: white;
    }

    .title {
        @include title;
        color: white;
    }

    &__menu {
        color: white;
        padding-top: 20px;
        line-height: 10px;

        &__bloc {
            display: flex;
            flex-direction: row;
        }

        &__txt {
            margin: 0px;
            padding: 10px 0px 10px 0px;
        }

        a:hover {
            text-decoration: underline;
            color: white;
        }
    }

    &__icon {
        padding: 10px 10px 10px 0px;

    }

    .fas {
        width: 20px;
    }
}

/*Fin de l'index. les autres pasges*/

.arrow {
    position: absolute;
    left: 10px;
    top: 22px;
    font-size: 1.5rem;
    color: black;
}

.img {
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
}

.main__bloc {
    border-radius: 30px 30px 0px 0px;
    position: sticky;
    margin-top: -50px;
    background-color: rgb(247, 247, 247);
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        display: flex;
        flex-direction: row;
    }

    &__bloc {
        width: 100%;

    }

    .main__title {
        @include title;
        margin: 30px;
    }

    .far {
        margin-top: 30px;
        padding: 10px;
        font-size: 25px;
    }
}

.starters,
.dish,
.dessert {
    padding: 0px 15px 0px 15px;
}

.food {
    &__title {
        font-size: 1.1rem;
        font-weight: lighter;
        border-bottom: 3px solid $tertiary;
        width: 40px;
        padding-bottom: 2px;
    }

    &__bloc__1 {
        display: flex;
        flex-direction: row;
    }

    &__bloc__card {
        display: flex;
        flex-direction: column;
        border-radius: 1.05rem;
        box-shadow: $shadow;
        background-color: white;
        margin-top: 20px;
        line-height: 0px;
        padding: 6px 10px 6px 10px;

        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: -5px;
        }

        &__price {
            font-weight: bold;
        }

    }
}

.btn {
    @include btn;
    margin: 50px 0px 80px 0px;

    &:hover {
        transform: scale(1.02);
    }

    a:link {
        color: white;
    }

}