$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$shadow: 0px 6px 5px lightgrey;
$shaddowhover: 0px 10px 15px darkgrey;
@import "mixins.scss";
@import "Responsive.scss";

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    a:link {
        text-decoration: none;
    }
}

.loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99998;
    width: 100%;
    height: 100vh;
    margin-top: -15px;
    animation: loader 6s forwards;
    opacity: 0;
    background-color: #DCe8e8eb;
}

.loader {
    position: fixed;
    z-index: 99999;
    width: 220px;
    height: 220px;
    background-color: $primary;
    border-radius: 100%;

    &__spin {

        &:after {
            position: absolute;
            top: -9px;
            bottom: -9px;
            left: -9px;
            right: -9px;
            content: '';
            border: 10px solid transparent;
            border-top-color: $secondary;
            border-radius: 50%;
            -webkit-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
        }
    }

    &__spin2 {

        &:after {
            position: absolute;
            top: 8px;
            bottom: 8px;
            left: 8px;
            right: 8px;
            content: '';
            border: 10px solid transparent;
            border-top-color: $secondary;
            border-radius: 50%;
            -webkit-animation: spin2 4s linear infinite;
            animation: spin2 4s linear infinite;
        }
    }

    &__txt {
        position: relative;
        top: 92px;
        left: 20px;
        color: white;
        @include title;
        font-size: 24px;
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .title {
        @include title;
        color: black;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.location {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    padding: 15px 0px;
    background: #e8e8eb;
    box-shadow: inset 0 5px 6px -4px lightgrey;
    width: 100%;
    justify-content: center;

    .span__loca {
        padding: 0px 15px 0px 0px;
    }

    &__txt {
        font-size: 1.1rem;
        margin: 0;
    }
}

.explorer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(247, 247, 247);

    &__title {
        font-size: 1.6rem;
        margin-top: 40px;
    }

    &__txt {
        margin-top: 0px;
    }

    &__btn {
        @include btn;

        &:hover {
            transform: scale(1.02);
            opacity: 0.8;
            box-shadow: $shaddowhover;
        }
    }

    a:link {
        color: white;
    }

}

.operation__bloc {
    margin: 30px 0px 60px 0px;
}

.operation__step {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: $shadow;
    background-color: rgb(247, 247, 247);
    padding: 25px 60px 25px 0px;
    cursor: pointer;

    &__number {
        border-radius: 100%;
        background-color: $primary;
        color: white;
        padding: 2px 7px 2px 7px;
        margin-left: -10px;
    }

    &__icon {
        margin: 2px 20px 0px 20px;
        color: gray;
    }

    &__txt {
        padding-top: 2px;
    }

    &:hover {
        transform: scale(1.02);
        background: lighten($primary, 35);
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    background-color: rgb(247, 247, 247);

    &__title {
        position: relative;
        left: -106px;
        top: 38px;
    }

    &__card {
        border-radius: 1.5rem;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 25px;
        cursor: pointer;
        position: relative;

        &:hover {
            transform: scale(1.02);
        }
    }

    &__bloc {
        margin-top: 40px;
    }
}


.card__img {
    width: 350px;
    height: 160px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.new {
    background: #99E2D0;
    color: green;
    width: 65px;
    text-align: center;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    right: 16px;
}

.card__bloc {
    display: flex;
    flex-direction: row;
    color: black;
    padding-left: 20px;

    &__icon {
        position: absolute;
        right: 30px;
        top: 185px;
        font-size: 1.8rem;


        &:hover {
            color: transparent;

            &:after {
                font-family: "Font Awesome 5 Free";
                content: "\f004";
                background: linear-gradient(173deg, $secondary 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
                -webkit-background-clip: text;
                background-clip: text;
                font-weight: 800;
                -webkit-animation: appear 1000ms ease-in-out alternate;
                animation: appear 1000ms ease-in-out alternate;
            }

        }
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    75% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    75% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.card {
    &__title {
        margin: 0px;
        padding-top: 12px;
    }

    &__txt {
        margin: 0px;
        padding: 5px 0px 20px 0px;
    }
}

.footer {
    background-color: #363636;
    padding: 20px 20px 20px 30px;

    a:link {
        color: white;
    }

    .title {
        @include title;
        color: white;
    }

    &__menu {
        color: white;
        padding-top: 20px;
        line-height: 10px;

        &__bloc {
            display: flex;
            flex-direction: row;
        }

        &__txt {
            margin: 0px;
            padding: 10px 0px 10px 0px;
        }

        a:hover {
            text-decoration: underline;
            color: white;
        }
    }

    &__icon {
        padding: 10px 10px 10px 0px;

    }

    .fas {
        width: 20px;
    }
}

/*---------Fin de l'index. les autres pages--------*/

.arrow {
    position: absolute;
    left: 10px;
    top: 22px;
    font-size: 1.5rem;
    color: black;
}

.img {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
}

.main__bloc {
    border-radius: 30px 30px 0px 0px;
    position: -webkit-sticky;
    position: sticky;
    margin-top: -50px;
    background-color: rgb(247, 247, 247);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .far.fa-heart {
        font-size: 1.8rem;
        padding-left: 20px;
    }

    &__bloc {
        width: 100%;

    }

    .main__title {
        @include title;
        margin: 30px 0px 30px 5px;
        font-size: 26px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.menu {
    padding: 0px 15px 20px 15px;
}

.food {
    &__title {
        font-size: 1.1rem;
        font-weight: lighter;
        border-bottom: 3px solid $tertiary;
        width: 40px;
        padding-bottom: 2px;
    }

    &__bloc__1 {
        @include animation;
        animation-delay: 0.15s;
    }

    &__bloc__2{
        @include animation;
        animation-delay: 0.3s; 
    }

    &__bloc__3{
        @include animation;
        animation-delay: 0.5s;
    }

    &__bloc__4{
        @include animation;
        animation-delay: 0.7s;
    }

    &__bloc__card {
        display: flex;
        flex-direction: row;
        line-height: 8px;
        padding: 6px 10px 6px 10px;
        justify-content: space-between;
        width: 100%;

        &__top {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__bottom {
            padding: 28px 13px 1px 10px;
        }

        &__title {
            margin: 10px 0 10px 0;
            line-height: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__txt {
            line-height: 16px;
            margin: 0 0 5px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__price {
            font-weight: bold;
        }
    }

}

.fa-check-circle {
    color: white;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
}

@keyframes translate {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes translate {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(-45px);
    }
}


.btn {
    @include btn;
    margin: 50px 0px 80px 0px;

    &:hover {
        transform: scale(1.02);
        opacity: 0.8;
        box-shadow: $shaddowhover;
    }

    a:link {
        color: white;
    }

}


/*---------Responsive---------*/

@media #{$medium} {
    .restaurant {
        &__title {
            position: inherit;
            margin: 40px 0px -15px 0px;
        }

        &__bloc__2 {
            display: flex;
            flex-direction: row;
        }

        &__card {
            margin: 0px 20px 40px 20px;
        }
    }

    .main__bloc {
        width: 90%;
    }
}

@media #{$large} {
    .restaurant {
        &__bloc {
            display: flex;
            flex-direction: row;
        }
    }

    .operation {
        &__bloc {
            display: flex;
            flex-direction: row;
        }

        &__step {
            margin: 0px 20px 30px 20px;
        }
    }

    .main__bloc__bloc {
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 30%;
    }

    .food__bloc__card {
        &__top {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}